.fullWidth {
  height: 75;
  width: 480px;
}

.halfWidth {
  height: 250;
  width: 240px;
}

#a {
  width: 100%;
  height: static;
  background-color: lightblue;
}

#b {
  width: 100%;
  height: 150;
  background-color: lightcoral;
}

#c {
  width: 100%;
  height: 125;
  background-color: lightgreen;
}

#d {
  width: 100%;
  height: 125;
  background-color: lightpink;  
}

#e {
  width: 50%;
  height: 240;
  background-color: lightsalmon;
  float: right;
}

#f {
  width: 50%;
  height: 240;
  background-color: lightseagreen;
}

#g {
  width: 50%;
  height: 240;
  background-color: lightskyblue;
  float:right;
}

#h {
  width: 50%;
  height: 240;
  background-color: lightslategray;
}

#i {
  width: 100%;
  height: 80;
  background-color: lightblue;
}



@media all and (min-width: 800px) {

  .fullWidth {
    height: 100;
    width: 960px;
  }
  
  
  #a {
    width: 100%;
    height: static;
    background-color: lightblue;
  }
  
  #b {
    width: 200;
    height: 600;
    background-color: lightcoral;
  }
}